node_modules/
.env
.env.local
.next/
dist/
build/
public/uploads/
*.log
.DS_Store

backend/build/


backend/node_modules/
frontend/node_modules/

backend/package-lock.json
frontend/package-lock.json

backend/.env
frontend/.env.local

backend/public/uploads/
frontend/.next/