{
  "openapi": "3.0.3",
  "info": {
    "title": "DAVE API - Asset Data and Investigation API",
    "description": "This documentation serves as a comprehensive guide for external parties to integrate with the DAVE API. It provides endpoints to retrieve asset data and investigation changes for specific devices within the network.",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://dave.petronas.com:443/api/v2",
      "description": "DAVE Production Server"
    }
  ],
  "paths": {
    "/assets/devices": {
      "post": {
        "summary": "Get Asset Data",
        "description": "Retrieve asset details using the Site ID (Station ID) as search criteria.",
        "tags": [
          "Assets"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAssetDataRequest"
              },
              "example": {
                "include_metadata": false,
                "page": {
                  "limit": 1000
                },
                "use_cache_entry": true,
                "include_details": false,
                "query": "(\"adapters_data.gui.custom_site_id\" == \"RYN0615\") and not (\"specific_data.connection_label\" == \"ICS Data\") and not (\"specific_data.connection_label\" == \"SmartSD - Test\") and not (\"specific_data.connection_label\" == \"Risk Score\") and not (\"specific_data.connection_label\" == \"Station Compliance\")",
                "fields_to_exclude": [
                  "adapters",
                  "adapter_list_length",
                  "labels",
                  "adapter_asset_entities_info",
                  "adapter_list_length_details",
                  "*_details",
                  "meta_data.client_used"
                ],
                "fields": [
                  "adapters_data.gui.custom_site_id",
                  "specific_data.data.hostname",
                  "specific_data.data.network_interfaces.ips_v4_preferred",
                  "specific_data.data.network_interfaces.mac",
                  "specific_data.data.os.combined_os_fields_preferred",
                  "adapters_data.gui.custom_device_type",
                  "specific_data.data.installed_software.name_version"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset Data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assets/devices/asset_investigation/{internal_axon_id}": {
      "post": {
        "summary": "Get Asset Changes",
        "description": "Retrieve asset change information by using the Internal Axon ID obtained from the Get Asset Data endpoint.",
        "tags": [
          "Assets Investigation"
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "parameters": [
          {
            "name": "internal_axon_id",
            "in": "path",
            "required": true,
            "description": "The unique internal Axon ID of the asset.",
            "schema": {
              "type": "string"
            },
            "example": "23cdef1bf9e946548ac80a1098b2c029"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAssetChangesRequest"
              },
              "example": {
                "time_range": {
                  "period": {
                    "relative_type": "last",
                    "unit": "days",
                    "count": 7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset Changes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetChangesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "API Key required for authentication"
      },
      "ApiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-secret",
        "description": "API Secret required for authentication"
      }
    },
    "schemas": {
      "GetAssetDataRequest": {
        "type": "object",
        "properties": {
          "include_metadata": {
            "type": "boolean"
          },
          "page": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              }
            }
          },
          "use_cache_entry": {
            "type": "boolean"
          },
          "include_details": {
            "type": "boolean"
          },
          "query": {
            "type": "string",
            "description": "Axonius AQL query string to filter assets"
          },
          "fields_to_exclude": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GetAssetDataResponse": {
        "type": "object",
        "properties": {
          "assets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "internal_axon_id": {
                  "type": "string",
                  "description": "The unique Axon ID of the device"
                },
                "adapters_data.gui.custom_device_type": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "adapters_data.gui.custom_site_id": {
                  "type": "string"
                },
                "specific_data.data.hostname": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "specific_data.data.network_interfaces.ips_v4_preferred": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "specific_data.data.network_interfaces.mac": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "specific_data.data.os.combined_os_fields_preferred": {
                  "type": "string"
                },
                "specific_data.data.installed_software.name_version": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "GetAssetChangesRequest": {
        "type": "object",
        "properties": {
          "time_range": {
            "type": "object",
            "properties": {
              "period": {
                "type": "object",
                "properties": {
                  "relative_type": {
                    "type": "string",
                    "example": "last"
                  },
                  "unit": {
                    "type": "string",
                    "example": "days"
                  },
                  "count": {
                    "type": "integer",
                    "example": 7
                  }
                }
              }
            }
          }
        }
      },
      "GetAssetChangesResponse": {
        "type": "object",
        "properties": {
          "investigation_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "adapter_name": {
                  "type": "string"
                },
                "field_title": {
                  "type": "string"
                },
                "connection_id": {
                  "type": "string",
                  "nullable": true
                },
                "field_name": {
                  "type": "string"
                },
                "asset_id": {
                  "type": "string"
                },
                "added_values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "removed_values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "event_type": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    }
  }
}
